* {
  margin: 0%;
  padding: 0%;
}
section {
  margin-bottom: 60px;
}
.bg {
  background-image: url(../assets/bg.png);
}
.navbar {
  display: flex;
  width: 1440px;
  height: 102px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1.16px 0em 1.16px 0em;
  /* border: 2px solid black; */
  margin: 0px auto;
}
li a {
  text-decoration: none;
  color: #1e1e1e;
}
nav h2 {
  font-family: Quicksand;
}
.first-header {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

ul {
  display: flex;
  gap: 30px;
}
ul > li {
  list-style: none;
}
nav > ul > li a {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.list-home {
  color: Orange;
  font-weight: 700;
  margin-left: 11em;
}
.list-about {
  color: #01acfd;
}
.list-facilities {
  color: #05d4df;
}
.list-admission {
  color: #5d58ef;
  margin-right: 11em;
}
.contact-button {
  border-radius: 12px;
  background: rgb(254, 163, 1);
  width: 197px;
  height: 50px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.nav-menu {
  display: none;
}
.banner {
  width: 1228.61px;
  height: 575px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
  margin-left: 152px;
  /* border: 2px solid black; */
}
.banner-text {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.banner-heading-text {
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 530px;
  height: 183px;
}
.banner-paragraph-text {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  width: 640px;
  height: 50px;
  flex: none;
}
/* applying color to banner heading */
.first-span {
  color: #fea301;
}
.second-span {
  color: #01acfd;
}
/* applying style to banner button */
.banner-button,
.last-story-button {
  border-radius: 12px;
  background: rgb(17, 17, 17);
  width: 197px;
  height: 50px;
  gap: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
.cardbox-image {
  width: 150px;
  height: 150px;
  margin-left: 100px;
  margin-top: 55px;
  margin-bottom: 15px;
}
.section-header {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
/* applying style to cardboxes */
.curriculum-cardbox {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.cardbox-1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  position: relative;
  width: 367px;
  height: 460px;
  align-items: center;
  box-shadow: 0 0 28.3 rgba(0, 0, 0, 0.05);
}
.cardbox-2 {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  position: relative;
  width: 367px;
  height: 460px;
}
.cardbox-3 {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  position: relative;
  width: 367px;
  height: 460px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
}

.card-box-head {
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.cardbox-para {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.curriculum-button-1,
.curriculum-button-2,
.curriculum-button-3 {
  color: rgb(100, 200, 255);
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background-color: white;
  align-items: center;
  width: 79.65px;
  height: 18.86px;
  margin-left: 140px;
  margin-top: 15px;
}
.curriculum-button-2 {
  color: rgb(240, 170, 0);
}
.curriculum-button-3 {
  color: rgb(135, 0, 255);
}
.curriculum {
  display: flex;
  flex-direction: column;
}
.arrow-class {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 60px;
}
/* designing story boxes */
.stories-box-1 {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  max-width: 540.27px;
  max-height: 630px;
}
.stories-box-2,
.stories-box-3,
.stories-box-4,
.stories-box-5 {
  width: 290.69px;
  height: 301.61px;
  border-radius: 16px;

  background: rgb(255, 255, 255);
}
.story-image-2,
.story-image-3,
.story-image-3,
.story-image-4,
.story-image-5 {
  width: 100%;
}
.story-image-1,
.story-image-2,
.story-image-3,
.story-image-3,
.story-image-4,
.story-image-5 {
  border-radius: 16px 16px 0px 0px;
  background: url(), rgb(217, 217, 217);
}
.stories-boxes {
  margin-left: 170px;
  display: flex;
  gap: 40px;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stories {
  background: url(image),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  align-items: center;
  margin-bottom: 0%;
}
.story-button {
  margin-top: -30px;
  margin-left: 38px;
}
.story-button-1 {
  border-radius: 47.93px;
  position: relative;
  background: rgb(60, 216, 232);
  width: 174.51px;
  height: 47.93px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border: none;
}
.story-button-2,
.story-button-3,
.story-button-4,
.story-button-5 {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  width: 174.51px;
  height: 38.35px;
  border: none;
  margin: 7px;
}
.story-button-3 {
  background: orange;
}
.story-button-4 {
  background: rgb(93, 88, 240);
}
.last-button {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.last-story-button {
  margin-bottom: 60px;
}
.main-box-header {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
  width: 402.49px;
  height: 69.98px;
  margin: 40px 38px 32px 38px;
}
.para-1 {
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  width: 433.06px;
  height: 75.74px;
  margin-left: 38px;
}
.para {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 15.34px;
  font-weight: 700;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  width: 198.04px;
  height: 47.93px;
  margin-left: 38px;
  margin-top: 10px;
}

/* designing footer */
footer {
  background-color: rgb(1, 172, 253);
  padding: 100px;
}
.footer-logo-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-heading {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 39.51px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 206.11px;
  max-height: 80px;
}
.footer-para {
  max-width: 399.02px;
  max-height: 100px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
.last-list > li a {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.last-list {
  flex-direction: column;
}
.list-heading {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}

.arrow:hover {
  background-color: black;
}
/* Media query for mobile device */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  /* query for navbar start here */
  .navbar {
    margin-left: 0px;
    max-width: 100%;
    max-height: 70px;
    border: 1px solid orange;
    padding-left: 2px;
    padding-right: 5px;
    /* display: none; */
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    display: block;
    position: static;
  }
  .nav-icon {
    max-width: 46px;
    max-height: 43px;
    margin-left: 0px;
    position: static;
  }
  .nav-menu-image {
    max-width: 40px;
    max-height: 34px;
    margin-right: 10px;
  }
  /* query for banner start here */
  .banner {
    flex-direction: column-reverse;
    margin-top: 200px;
    padding-top: 0px;
    margin-top: 88px;
    width: 95%;
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
    /* border: 2px solid black; */
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .banner-heading-text {
    font-size: 30px;
    text-align: center;
    max-width: 300px;
    margin-bottom: 6px;
  }
  .banner-image {
    /* border: 2px solid brown; */
    margin-left: 30px;
  }
  .banner-image-boy {
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    justify-content: center;
  }
  .banner-button {
    width: 131px;
    height: 42px;
    padding: 3px 24px 3px 24p;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0%;
    /* display: none; */
  }
  .banner-paragraph-text {
    max-width: 300px;
    max-height: 40px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  .banner-btn {
    display: flex;
    margin-top: 16px;
    justify-content: center;
  }
  body {
    overflow-x: hidden;
  }

  .section-header {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
  }
  .curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .curriculum-cardbox {
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:10px ;
    padding-right: 10px;
  }
  .curriculum-button-1,
  .curriculum-button-2,
  .curriculum-button-3 {
    margin-left: 0px;
    font-size: 10.22px;
    font-weight: 700;
    line-height: 19.16px;
  }
  .card-box-head {
    font-size: 16.6px;
    line-height: 20.75px;
    letter-spacing: 0%;
  }
  .cardbox-para {
    font-size: 10.22px;
    font-weight: 500;
    line-height: 19.16px;
    max-width: 193.81px;
    max-height: 50.45px;
    text-align: center;
    margin-left: 85px;
  }
  .stories-box-2,
  .stories-box-3,
  .stories-box-4,
  .stories-box-5 {
    max-width: 173.27px;
    max-height: 105.39px;
  }

  .stories-box-2,
  .stories-box-3,
  .stories-box-4,
  .stories-box-5 {
    max-width: 173.09px;
    max-height: 185px;
  }
  .grid-layout {
    gap: 10px;
    margin: auto;
    max-width: 90%;
  }
  .stories {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .last-story-button {
    border-radius: 12px;
    max-width: 134px;
    max-height: 30px;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    margin-bottom: 40px;
  }
  .stories-boxes {
    margin-left: 0px;
    margin-right: 20px;
    align-items: center;
    max-width: 400px;
  }
  .para {
    font-size: 9.13px;
    font-weight: 700;
    line-height: 14.12px;
    letter-spacing: 0%;
    max-width: 107.92px;
    max-height: 28.54px;
    text-align: left;
    margin-top: 3px;
  }
  .story-button-2,
  .story-button-3,
  .story-button-4,
  .story-button-5 {
    width: 103.91px;
    height: 22.83px;
    font-size: 9.13px;
    font-weight: 500;
    line-height: 17.12px;
    margin-top: 12px;
    margin-left: -10px;
  }

  /* Media query for footer start here */
  footer {
    padding: 66px 20px;
  }
  .footer-heading {
    max-width: 172px;
    max-height: 67px;
    max-width: 357px;
  }
  .footer-para {
    font-weight: 400;
    line-height: 20px;
    max-width: 357px;
    max-height: 80px;
  }
  .footer-container {
    flex-direction: column;
    gap: 45px;
  }
  .last-list {
    max-width: 300px;
  }
  .list-heading {
    max-width: 300px;
  }
}
